@import url('https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Oswald:400,700"');

body{
  background-color: rgb(14, 171, 0);
  font-family: Oswald; 
  color: white;
}

nav{
  color: white;
  font-family: Oswald;
  display: flex;
  justify-content:space-around;
}

div{
  background-color: rgb(14, 171, 0);
  padding: 1.5rem 2rem;
  width: 600px;
  border-radius: 0px;
  color: rgb(0, 0, 0);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
  margin-bottom: 2rem;
  font-family: Oswald;
}

header{
  display: flex;
  justify-content:left;
  background-color: limegreen;
  padding: 1rem 5rem;
  border-radius: 0px;
  color: rgb(0, 0, 0);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
  margin-bottom: 2rem;
  font-family: Oswald;
  margin: 5px;
  
}

.divConteudo{
  
  background-color: limegreen;
  padding: 1.5rem 2rem;
  width: 600px;
  border-radius: 0px;
  color: rgb(21, 3, 58);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
  margin-bottom: 2rem;
   
}
.divConteudo p{
  font-size: 30px;
  display: flex;
  text-align: center;
  color: rgb(1, 1, 1);
  
}


.divAvisos {
  background-color: limegreen;
  padding: 1.5rem 2rem;
  width: 600px;
  border-radius: 0px;
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
  margin-bottom: 2rem;
  

}

main article{
  border-bottom: 2px solid rgb(255, 255, 255);
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: right;
}

article h3 {
  margin-bottom: 0.5rem;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(21, 3, 58);;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #173f00;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
}

header h1 {
  color: #173f00;
  margin: 30px;
}

