@import url('https://fonts.googleapis.com/css?family=Lora:400,700,400italic|Oswald:400,700"');

body{
  background-color: #55942F; 
  font-family: Oswald; 
  color: white;
}

nav{
  color: white;
  font-family: Oswald;
  display: flex;
  justify-content:space-around;
}

div{
  background-color: rgb(201, 245, 210);
  padding: 1.5rem 2rem;
  width: 600px;
  border-radius: 0px;
  color: rgb(0, 0, 0);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
  margin-bottom: 2rem;
  font-family: Oswald;
}

header{
  display: flex;
  justify-content:center;
  background-color: rgb(201, 245, 210);
  padding: 1.5rem 2rem;
  border-radius: 0px;
  color: rgb(0, 0, 0);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
  margin-bottom: 2rem;
  font-family: Oswald;
  
}

.divResultados{
  
  background-color: rgb(126, 231, 149);
  padding: 1.5rem 2rem;
  width: 600px;
  border-radius: 0px;
  color: rgb(21, 3, 58);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
  margin-bottom: 2rem;
  
}

.divTrampos p{
  border-bottom: 2px solid rgb(255, 255, 255);
}

main article{
  border-bottom: 2px solid rgb(255, 255, 255);
}

footer{
  display: flex;
  justify-content: right;
}

article h3 {
  margin-bottom: 0.5rem;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(21, 3, 58);;
}